node_modules
.idea
.vscode
.superpowers/

# Project config
conf.json
instance.js
bot.db
bot.db-shm
bot.db-wal
dist
var/*
!var/strategies/
!var/strategies/**

# TypeScript incremental cache
*.tsbuildinfo
